.container {
  margin-left: 50px;
}

.button {
  width: 727px;
  height: 62px;
  border-radius: 10px;
  background: rgb(78, 20, 140);
  border: 0;
}

.text {
  color: rgb(247, 249, 247);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
}
@media screen and (max-width: 1060px) {
  .container {
    margin-left: 0;
  }
  .button {
    width: 640px;
    height: 62px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .button {
    width: 100%;
  }
}
